<%- include('partials/_header.ejs') %>

<div class="news-post">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a href="/news" class="button-back">Back to News</a>
</div>

<script src="/js/delete.js"></script>

<%- include('partials/_footer.ejs') %>